* {
    color: white;
}

body{
    background-color: black;
}

header  {
    background-color: rgb(8, 8, 8);
}

footer {
    background-color: rgb(8, 8, 8);
}

.img-group img:hover {
    background-color: rgba(154,36,231,0.2);
}