::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: rgb(30, 30, 30);
}

::-webkit-scrollbar-thumb {
    background: rgb(10, 10, 10);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 0, 0);
}

@font-face {
    font-family: Azonix;
    src: url(../fonts/Azonix.otf);
}

@font-face {
    font-family: Blanka;
    src: url(../fonts/Blanka.ttf);
}

@font-face {
    font-family: Gilroy;
    src: url(../fonts/Gilroy.otf);
}

@font-face {
    font-family: Oneday;
    src: url(../fonts/Oneday.ttf);
}

.btn-group{
    height: 80px;
    margin: auto;
}

.btn-group button {
    background-color: rgba(0,0,0,0);
    border: 0px;
    border-left: 8px solid;
    color: white;
    cursor: pointer;
    float: left;
    width: 25%;
    height: 100%;
}

.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:hover {
    background-color: rgba(154,36,231,0.2);
}

body {
    transition: background-color 2s ease-out;
}

header {
    height: 80px;
    background-color: rgb(8, 8, 8);
    position: sticky;
    top: 0;
}

main {
    height: 2000px;
    margin: auto;
    width: 80%;
    border: 1px grey solid;
}

footer {
    height: 80px;
    background-color: rgb(8, 8, 8);
}

#loading {
    background-color: black;
    height: 946px;
}

#loadingImages {
    opacity: 0;
    transition: opacity 1s ease-out;
}

#loadingContinue {
    background-color: rgba(0, 0, 0, 0);
    padding: 5px 10px 5px 10px;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    font-size: 40px;
    font-family: gilroy;
    transition: color 1s ease, border-color 1s ease;
    margin: 50px 0px 0px 250px;
}

#loadingContinue:hover {
    color: rgb(150, 150, 150);
}

#loadingMore {
    background-color: rgba(0, 0, 0, 0);
    padding: 0px 8px 0px 8px;
    border: 2px solid #9A24E7;
    border-radius: 5px;
    color: #9A24E7;
    font-size: 35px;
    font-family: gilroy;
    transition: color 1s ease, border-color 1s ease;
    margin: 0px 0px 0px 310px;
}